*{
   padding: 0;
   box-sizing: 0;
   margin: 0;
}

body{
    background-color: rgb(89, 89, 255);
}

.form{
    text-align: center;
    padding: 20px;
}

.form img{
   max-width: 400px;
   width: 100%;
   padding-bottom: 35px;
}
.form input[type=text], .form input[type=email]{
    padding-left: 10px;
    display:block;
    margin: 10px auto;
    font-size: 17px;
    max-width: 500px;
    width: 100%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 17px;
}

.form input[type=submit]{
width: 100%;
max-width: 350px;
border-radius: 16px;
height: 35px;
font-size: 20px;
background-color:deepskyblue;
cursor: pointer;
}